.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    padding-left: 70px;
  }
  
  .header-logo {
    font-size: 32px;
    font-weight: 800;
  }
  
  .header-profile-container {
    position: relative;
  }
  
  .header-profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  .header-arrow-image {
    padding-bottom: 20px;

  }
  .header-notification-image {
    cursor: pointer;
    padding-right: 30px;
    padding-bottom: 10px;
    width: 30px;
  }
  
  .header-popup-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    z-index: 1;
  }
  .header-popup-menu2 {
    position: absolute;
    top: 50px;
    right: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    z-index: 1;
  }
  
  .header-popup-menu-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .header-popup-menu-item:hover {
    background-color: #f2f2f2;
  }