.burger-icon {
    position: fixed;
    top: 25px;
    left: 20px;
    color: orange;
    font-size: large;
    margin-right: 20px;
    
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }